db.sqlite3
.env
**/.DS_Store
node_modules/
package-lock.json
backups/

.vscode/
.idea/
media/
static_collected/
migrations/
migrations_live/
migrations-old/
migrations-ok/

*.private
*.db
*.py[co]
tmp/
*.pyc
