{% extends 'core/base.html' %}
{% load static %}

{% block title %}Welcome | {% endblock %}

{% block content %}
    <section class="register-card">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-4 text-center">Chat App</h1>
                    <p class="lead text-center">A simple chat app that allows users to send and receive messages in a
                        real time using Django Channels</p><br>
                    <img class="mb-4 img-fluid" style="border: 1px solid" src="{% static 'img/home_bg.png' %}" alt="Chat App" >
                </div>
            </div>
        </div>
    </section>
{% endblock %}